In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
import numpy as np
import pandas as pd

In [2]:
def area(box):
    return (box[2] - box[0]) * (box[3] - box[1])


def intersection_over_union(boxes):
    assert(len(boxes) == 8)
    boxA = boxes[:4].values
    boxB = boxes[4:].values
    
    boxAArea = area(boxA)
    boxBArea = area(boxB)
    
    if (boxAArea == 0 or boxBArea == 0):
        return 0
        
    xA = max(boxA[0], boxB[0])
    yA = max(boxA[1], boxB[1])
    xB = min(boxA[2], boxB[2])
    yB = min(boxA[3], boxB[3])

    interArea = max(0, xB - xA) * max(0, yB - yA)

    iou = interArea / float(boxAArea + boxBArea - interArea)
    return iou

In [3]:
votes = pd.read_csv("train_data.csv")
answers = pd.read_csv("train_answers.csv")
test = pd.read_csv("test_data.csv")

In [13]:
quorum = votes.groupby("itemId")[['Xmin','Ymin', 'Xmax', 'Ymax']].mean().reset_index()
data = quorum.merge(answers, on=["itemId"])
data["iou"] = data[['Xmin','Ymin', 'Xmax', 'Ymax', 'Xmin_true',\
      'Ymin_true', 'Xmax_true','Ymax_true']].apply(intersection_over_union, axis=1)

In [14]:
test.head()

   userId  itemId  Xmin  Ymin  Xmax  Ymax
0    1581   34804    86   640   242   743
1    1351   34804    85   655   273   766
2     161   34804    85   648   268   748
3     313    5704    32   618   647  1268
4    1097    5704    25   620   602  1242

In [8]:
data["iou"].mean()

0.5058725791429207

In [12]:
quorum.head()

   itemId        Xmin        Ymin        Xmax         Ymax
0       5  184.333333  918.666667  501.333333  1248.666667
1      10   87.666667  562.666667  416.333333   855.333333
2      13   69.666667  603.000000  596.666667   966.666667
3      30   91.400000  365.600000  269.200000   459.200000
4      32   28.166667  556.000000  256.166667   756.833333