In [8]:
import pandas as pd
import numpy as np
%matplotlib inline
import seaborn as sns
import matplotlib.pyplot as plt

path = '~/git/data-analisys/StepikMLContest/'

In [9]:
train = pd.read_csv(path + 'event_data_train.zip', compression='zip')
submissions = pd.read_csv(path + 'submissions_data_train.zip', compression='zip')

In [10]:
train.head()

   step_id   timestamp      action  user_id
0    32815  1434340848      viewed    17632
1    32815  1434340848      passed    17632
2    32815  1434340848  discovered    17632
3    32811  1434340895  discovered    17632
4    32811  1434340895      viewed    17632