In [1]:
import numpy as np
import pandas as pd

In [4]:
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [25]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier

In [37]:
gender_submission = pd.read_csv('gender_submission.csv')
train = pd.read_csv('train.csv')
subm = pd.read_csv('test.csv')

In [38]:
# Drop not informative features
X = train.drop(['PassengerId', 'Survived', 'Name', 'Ticket', 'Cabin'], axis=1)
y = train.Survived
# Convert string categorial var into numeric
X = pd.get_dummies(X)
# Fill NA in age column
X = X.fillna({'Age': X.Age.median()})

In [46]:
X_subm = subm.drop(['PassengerId', 'Name', 'Ticket', 'Cabin'], axis=1)
X_subm = pd.get_dummies(X_subm)
X_subm = X_subm.fillna({'Age': X_subm.Age.median(), 'Fare': X_subm.Fare.median()})

In [45]:
X_test.isnull().sum()

Pclass        0
Age           0
SibSp         0
Parch         0
Fare          1
Sex_female    0
Sex_male      0
Embarked_C    0
Embarked_Q    0
Embarked_S    0
dtype: int64

In [27]:
# Split dataset into test and train
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [28]:
dtc = DecisionTreeClassifier(criterion='entropy')
dtc.fit(X_train, y_train)
dtc.score(X_test, y_test)

0.7574626865671642

In [12]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [50]:
y_hat = dtc.predict(X_test)

submission = pd.DataFrame({'PassengerId': test['PassengerId'], 'Survived': y_hat})
submission.to_csv('submission.csv', index=False)