In [1]:
import numpy as np
import pandas as pd

In [2]:
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeClassifier

from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV
from sklearn.metrics import precision_score, recall_score

In [7]:
gender_submission = pd.read_csv('gender_submission.csv')
train = pd.read_csv('train.csv')
subm = pd.read_csv('test.csv')

In [19]:
# Drop not informative features
X = train.drop(['PassengerId', 'Survived', 'Name', 'Ticket', 'Cabin'], axis=1)
y = train.Survived
# Convert string categorial var into numeric
X = pd.get_dummies(X)

In [20]:
# Fill NA in Age column

# Using median
# X = X.fillna({'Age': X.Age.median()})

# using LinearRegression
def fill_na_using_linear_regression(df, column):
    X_train = df[df[column].notna()].drop(column, axis=1)
    y_train = df[df[column].notna()][column]
    X_test = df[df[column].isna()].drop(column, axis=1)
    lr = LinearRegression()
    lr.fit(X_train, y_train)
    #df[df[column].isna()][column] = pd.Series(lr.predict(X_test))
    predicted = pd.Series(lr.predict(X_test))
    df[column].fillna(predicted, inplace=True)
    #print()
    return df

X = fill_na_using_linear_regression(X, 'Age')
X[X.Age.isna()]

,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
180,3,NaN,8,2,69.5500,1,0,0,0,1
181,2,NaN,0,0,15.0500,0,1,1,0,0
185,1,NaN,0,0,50.0000,0,1,0,0,1
186,3,NaN,1,0,15.5000,1,0,0,1,0
196,3,NaN,0,0,7.7500,0,1,0,1,0
198,3,NaN,0,0,7.7500,1,0,0,1,0
201,3,NaN,8,2,69.5500,0,1,0,0,1
214,3,NaN,1,0,7.7500,0,1,0,1,0
223,3,NaN,0,0,7.8958,0,1,0,0,1
229,3,NaN,3,1,25.4667,1,0,0,0,1
235,3,NaN,0,0,7.5500,1,0,0,0,1
240,3,NaN,1,0,14.4542,1,0,1,0,0
241,3,NaN,1,0,15.5000,1,0,0,1,0
250,3,NaN,0,0,7.2500,0,1,0,0,1
256,1,NaN,0,0,79.2000,1,0,1,0,0
260,3,NaN,0,0,7.7500,0,1,0,1,0
264,3,NaN,0,0,7.7500,1,0,0,1,0
270,1,NaN,0,0,31.0000,0,1,0,0,1
274,3,NaN,0,0,7.7500,1,0,0,1,0
277,2,NaN,0,0,0.0000,0,1,0,0,1
284,1,NaN,0,0,26.0000,0,1,0,0,1
295,1,NaN,0,0,27.7208,0,1,1,0,0
298,1,NaN,0,0,30.5000,0,1,0,0,1
300,3,NaN,0,0,7.7500,1,0,0,1,0
301,3,NaN,2,0,23.2500,0,1,0,1,0
303,2,NaN,0,0,12.3500,1,0,0,1,0
304,3,NaN,0,0,8.0500,0,1,0,0,1
306,1,NaN,0,0,110.8833,1,0,1,0,0
324,3,NaN,8,2,69.5500,0,1,0,0,1
330,3,NaN,2,0,23.2500,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...
718,3,NaN,0,0,15.5000,0,1,0,1,0
727,3,NaN,0,0,7.7375,1,0,0,1,0
732,2,NaN,0,0,0.0000,0,1,0,0,1
738,3,NaN,0,0,7.8958,0,1,0,0,1
739,3,NaN,0,0,7.8958,0,1,0,0,1
740,1,NaN,0,0,30.0000,0,1,0,0,1
760,3,NaN,0,0,14.5000,0,1,0,0,1
766,1,NaN,0,0,39.6000,0,1,1,0,0
768,3,NaN,1,0,24.1500,0,1,0,1,0
773,3,NaN,0,0,7.2250,0,1,1,0,0
776,3,NaN,0,0,7.7500,0,1,0,1,0
778,3,NaN,0,0,7.7375,0,1,0,1,0
783,3,NaN,1,2,23.4500,0,1,0,0,1
790,3,NaN,0,0,7.7500,0,1,0,1,0
792,3,NaN,8,2,69.5500,1,0,0,0,1
793,1,NaN,0,0,30.6958,0,1,1,0,0
815,1,NaN,0,0,0.0000,0,1,0,0,1
825,3,NaN,0,0,6.9500,0,1,0,1,0
826,3,NaN,0,0,56.4958,0,1,0,0,1
828,3,NaN,0,0,7.7500,0,1,0,1,0
832,3,NaN,0,0,7.2292,0,1,1,0,0
837,3,NaN,0,0,8.0500,0,1,0,0,1
839,1,NaN,0,0,29.7000,0,1,1,0,0
846,3,NaN,8,2,69.5500,0,1,0,0,1
849,1,NaN,1,0,89.1042,1,0,1,0,0
859,3,NaN,0,0,7.2292,0,1,1,0,0
863,3,NaN,8,2,69.5500,1,0,0,0,1
868,3,NaN,0,0,9.5000,0,1,0,0,1
878,3,NaN,0,0,7.8958,0,1,0,0,1
888,3,NaN,1,2,23.4500,1,0,0,0,1

,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
180,3,NaN,8,2,69.5500,1,0,0,0,1
181,2,NaN,0,0,15.0500,0,1,1,0,0
185,1,NaN,0,0,50.0000,0,1,0,0,1
186,3,NaN,1,0,15.5000,1,0,0,1,0
196,3,NaN,0,0,7.7500,0,1,0,1,0
198,3,NaN,0,0,7.7500,1,0,0,1,0
201,3,NaN,8,2,69.5500,0,1,0,0,1
214,3,NaN,1,0,7.7500,0,1,0,1,0
223,3,NaN,0,0,7.8958,0,1,0,0,1
229,3,NaN,3,1,25.4667,1,0,0,0,1
235,3,NaN,0,0,7.5500,1,0,0,0,1
240,3,NaN,1,0,14.4542,1,0,1,0,0
241,3,NaN,1,0,15.5000,1,0,0,1,0
250,3,NaN,0,0,7.2500,0,1,0,0,1
256,1,NaN,0,0,79.2000,1,0,1,0,0
260,3,NaN,0,0,7.7500,0,1,0,1,0
264,3,NaN,0,0,7.7500,1,0,0,1,0
270,1,NaN,0,0,31.0000,0,1,0,0,1
274,3,NaN,0,0,7.7500,1,0,0,1,0
277,2,NaN,0,0,0.0000,0,1,0,0,1
284,1,NaN,0,0,26.0000,0,1,0,0,1
295,1,NaN,0,0,27.7208,0,1,1,0,0
298,1,NaN,0,0,30.5000,0,1,0,0,1
300,3,NaN,0,0,7.7500,1,0,0,1,0
301,3,NaN,2,0,23.2500,0,1,0,1,0
303,2,NaN,0,0,12.3500,1,0,0,1,0
304,3,NaN,0,0,8.0500,0,1,0,0,1
306,1,NaN,0,0,110.8833,1,0,1,0,0
324,3,NaN,8,2,69.5500,0,1,0,0,1
330,3,NaN,2,0,23.2500,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...
718,3,NaN,0,0,15.5000,0,1,0,1,0
727,3,NaN,0,0,7.7375,1,0,0,1,0
732,2,NaN,0,0,0.0000,0,1,0,0,1
738,3,NaN,0,0,7.8958,0,1,0,0,1
739,3,NaN,0,0,7.8958,0,1,0,0,1
740,1,NaN,0,0,30.0000,0,1,0,0,1
760,3,NaN,0,0,14.5000,0,1,0,0,1
766,1,NaN,0,0,39.6000,0,1,1,0,0
768,3,NaN,1,0,24.1500,0,1,0,1,0
773,3,NaN,0,0,7.2250,0,1,1,0,0
776,3,NaN,0,0,7.7500,0,1,0,1,0
778,3,NaN,0,0,7.7375,0,1,0,1,0
783,3,NaN,1,2,23.4500,0,1,0,0,1
790,3,NaN,0,0,7.7500,0,1,0,1,0
792,3,NaN,8,2,69.5500,1,0,0,0,1
793,1,NaN,0,0,30.6958,0,1,1,0,0
815,1,NaN,0,0,0.0000,0,1,0,0,1
825,3,NaN,0,0,6.9500,0,1,0,1,0
826,3,NaN,0,0,56.4958,0,1,0,0,1
828,3,NaN,0,0,7.7500,0,1,0,1,0
832,3,NaN,0,0,7.2292,0,1,1,0,0
837,3,NaN,0,0,8.0500,0,1,0,0,1
839,1,NaN,0,0,29.7000,0,1,1,0,0
846,3,NaN,8,2,69.5500,0,1,0,0,1
849,1,NaN,1,0,89.1042,1,0,1,0,0
859,3,NaN,0,0,7.2292,0,1,1,0,0
863,3,NaN,8,2,69.5500,1,0,0,0,1
868,3,NaN,0,0,9.5000,0,1,0,0,1
878,3,NaN,0,0,7.8958,0,1,0,0,1
888,3,NaN,1,2,23.4500,1,0,0,0,1

In [32]:
S = subm.drop(['PassengerId', 'Name', 'Ticket', 'Cabin'], axis=1)
S = pd.get_dummies(S)
S = S.fillna({'Fare': S.Fare.median()})
S = fill_na_using_linear_regression(S, 'Age')

In [33]:
# Split dataset into test and train
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [34]:
dtc = DecisionTreeClassifier()
params = {'criterion': ('gini', 'entropy'), 'max_depth': range(1, 30)}
search = GridSearchCV(dtc, params, cv=5)
search.fit(X, y)

/home/sirius/.local/lib/python3.6/site-packages/sklearn/model_selection/_validation.py:528: FutureWarning: From version 0.22, errors during fit will result in a cross validation score of NaN by default. Use error_score='raise' if you want an exception raised or error_score=np.nan to adopt the behavior from version 0.22.
  FutureWarning)

ValueError: Input contains NaN, infinity or a value too large for dtype('float32').

{'criterion': 'entropy', 'max_depth': 8}

In [12]:
recall_score(y_test, search.best_estimator_.predict(X_test))

0.7833333333333333

In [27]:
submission = search.predict(S)
submission = pd.DataFrame({'PassengerId': subm['PassengerId'], 'Survived': submission})
submission.to_csv('submission.csv', index=False)